<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <!--配置不过滤的资源-->
    <security:http security="none" pattern="/login.html"></security:http>
    <security:http security="none" pattern="/fail.html"></security:http>
    <security:http auto-config="true" use-expressions="false">
        <security:intercept-url pattern="classpath:/**" access="ROLE_USER"></security:intercept-url>
        <security:form-login login-page="/login.html"
                             login-processing-url="/login"
                             username-parameter="userName"
                             password-parameter="password"
                             authentication-success-forward-url="/success.html"
                             authentication-failure-url="/fail.html"
                             default-target-url="/index.html"></security:form-login>

        <security:logout invalidate-session="true"
                         logout-url="/logout"
                         logout-success-url="/login.html"></security:logout>

        <security:csrf disabled="true"></security:csrf>
    </security:http>
    <security:authentication-manager>
        <security:authentication-provider>
            <security:user-service>
                <security:user name="user" password="{noop}user" authorities="ROLE_USER"></security:user>
                <security:user name="admin" password="{noop}admin" authorities="ROLE_USER"></security:user>
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>
</beans>

